/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

*{
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	/* font-family: 'Montserrat', ; */
	color: white;
}


img{
	object-fit: cover;
	width: 	350px;
	height: 350px;
	border-radius: 50%;
}

ul {
	list-style: none;
	padding: 0;
}

li > a > h5 {
	padding-right: 20;
}

#landing, 
#gallery{
	height: 80vh;
	/*Center the elements verticaly*/
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
}

#gallery{
	border-radius: 0.3rem;/*rem - relative to parent container -- 0.3 == 30%*/
}

.tools{
	color: white;
	/* Create a nice and clean section for the tools */
	padding: 25px;
	height: 200px;
	border: 5px solid #f2f2f2;
	/* margin: 20px; */
	width: 75%;
}


html{
	scroll-behavior: smooth;
}

#mycontainer{
	padding-top: 10px;
}






/*

css rules

target{
	properties
}

//From google fonts
fonts{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
}
*/